@font-face {
    /* Include font Alata */
    font-family: "Alata";
    src: url("./fonts/Alata-Regular.ttf") format("truetype");
    font-weight: 400
}

@font-face {
    /* Include font Josefine Sans */
    font-family: "Josefine Sans";
    src: url("./fonts/JosefinSans-Light.ttf") format("truetype");
    font-weight: 300
}

h1,
h2,
span {
    font-family: "Josefine Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase
}

header a,
.footer_menu a,
button,
p {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

header a:link,
header a:visited,
header a:active,
.footer_menu a:link,
.footer_menu a:visited,
.footer_menu a:active {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

header a:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

body {
    margin: 0;
    /* Removes white border around page */
}

header {
    height: 100vh;
    width: auto;
    /* Sets height to "1 display height" */
    background-size: cover;
    /* Scales image to box size */
    background-image: url("./images/mobile/image-hero.jpg");
}


@media(min-width: 1200px) {
    header {
        background-image: url("./images/desktop/image-hero.jpg")
    }
}

.top_bar {
    padding-left: 7vw;
    padding-top: 6vh;
}

@media(min-width: 1200px) {
    .top_bar {
        padding-left: 12vw;
        padding-top: 5vh;
    }
}

.logo_top {
    width: 30vw;
}


@media (min-width: 1200px) {
    .logo_top {
        width: 14vw;
    }
}

.top_links {
    visibility: hidden;
}


@media (min-width: 1200px) {
    .top_links {
        visibility: visible;
        float: right;
        padding-right: 11%;
    }
}

.top_links a {
    display: inline-block;
    margin-left: 20px;
    height: 35px;
    background-repeat: no-repeat no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.top_links a:hover {
    background-image: url("./images/bar.png");
}

.eye_catch_box {
    margin-top: calc(36vh - 18vw);
    width: auto;
    margin-left: 7vw;
    margin-right: 7vw;
    border: solid;
    border-color: hsl(0, 0%, 100%);
}


@media (min-width: 1200px) {
    .eye_catch_box {
        margin-top: 12%;
        margin-left: 12vw;
        margin-right: 0;
        width: 50vw;
        border: solid;
        border-color: hsl(0, 0%, 100%);
    }
}

.eye_catch {
    font-size: 11vw;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: hsl(0, 0%, 100%);
}


@media (min-width: 1200px) {
    .eye_catch {
        font-size: 5.4vw;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        color: hsl(0, 0%, 100%);
    }
}

.main_content_pane {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

@media (min-width: 1200px) {
    .main_content_pane {
        display: flex;
        flex-direction: column;
        padding-left: 12.3%;
        padding-right: 11%;
    }
}

.vr_guy_and_text {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(18em + 12vw);
    margin-top: 15vh;
}

@media (min-width: 1200px) {
    .vr_guy_and_text {
        display: block;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}

@media (min-width: 1200px) {
    .vr_picture_mobile {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.overlapped_picture {
    visibility: hidden;
    height: 0;
}

@media (min-width: 1200px) {
    .overlapped_picture {
        visibility: visible;
        border: solid;
        border-width: 1px;
        border-color: transparent;
        background-image: url("./images/desktop/image-interactive.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 877px;
    }
}

.overlapping_text {
    visibility: visible;
    width: auto;
    margin-left: 0;
    margin-top: 0;
    background-color: hsl(0, 0%, 100%);
    height: auto;
    text-align: center;
}

@media (min-width: 1200px) {
    .overlapping_text {
        border: none;
        width: 60%;
        margin-left: 80%;
        margin-top: 20%;
        padding-bottom: 8%;
        padding-left: 10%;
        padding-top: 10%;
        height: auto;
        text-align: left;
    }
}

@media (max-width: 1199px) {
    .overlapping_text h2 {
        font-size: 8vw;
    }
}

@media (min-width: 1200px) {
    .overlapping_text h2 {
        font-size: 64px;
    }
}

.overlapping_text p {
    color: hsl(0, 0%, 55%);
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

@media (min-width: 1200px) {
    .overlapping_text p {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
}

.our_creations_box {
    display: flex;
    justify-content: center;
    margin-bottom: 6.5vh;
}

@media (min-width: 1200px) {
    .our_creations_box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
    }
}

.our_creations_label {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8vw;
    text-align: center;
}

@media (min-width: 1200px) {
    .our_creations_label {
        float: left;
        font-size: 60px;
        text-align: left;
    }
}

@media (max-width: 1199px) {
    .see_all_button_mobile {
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 30%;
        width: 50vw;
        height: 12vw;
        letter-spacing: 5px;
        font-size: 24px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    .see_all_button_mobile {
        visibility: hidden;
        height: 0;
    }
}

@media (max-width: 1199px) {
    .see_all_button_desktop {
        visibility: hidden;
        width: 0;
    }
}

@media (min-width: 1200px) {
    .see_all_button_desktop {
        margin-right: 0;
        width: 200px;
        height: 40px;
        letter-spacing: 3px;
        align-self: center;
    }
}

button {
    text-transform: uppercase;
    width: 10%;
    background-color: hsl(0, 0%, 100%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.all_creations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .all_creations {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10%;
    }
}

.creation_frame {
    position: relative;
    width: auto;
    height: 22vh;
    margin-bottom: 3vh;
    font-size: 6vw;
    font-family: "Josefine Sans", sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .creation_frame {
        width: 320px;
        height: 563px;
        font-size: 50px;
        margin-bottom: 2vh;
    }
}

@media (max-width: 750px) {
    .creation_frame {
        font-size: 44px;
    }
}

.creation_frame:hover {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .creation_frame:hover {
        color: hsl(0, 0%, 0%);
    }
}

@media (min-width: 1200px) {
    .creation_frame:hover::before {
        display: block;
        content: " ";
        background-color: hsl(0, 0%, 100%);
        opacity: 50%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

.creation_frame span {
    display: block;
    margin-left: 3vw;
    margin-top: 8vh;
    position: relative;
}

@media (min-width: 1200px) {
    .creation_frame span {
        display: block;
        margin-top: 130%;
        margin-left: 10%;
    }
}

#deep_earth {
    background-image: url(./images/mobile/image-deep-earth.jpg);
}

@media (min-width: 1200px) {
    #deep_earth {
        background-image: url(./images/desktop/image-deep-earth.jpg);
    }
}

#night_arcade {
    background-image: url(./images/mobile/image-night-arcade.jpg);
}

@media (min-width: 1200px) {
    #night_arcade {
        background-image: url(./images/desktop/image-night-arcade.jpg);
    }
}

#soccer_team_vr {
    background-image: url(./images/mobile/image-soccer-team.jpg);
}

@media (min-width: 1200px) {
    #soccer_team_vr {
        background-image: url(./images/desktop/image-soccer-team.jpg);
    }
}

#the_grid {
    background-image: url(./images/mobile/image-grid.jpg);
}

@media (min-width: 1200px) {
    #the_grid {
        background-image: url(./images/desktop/image-grid.jpg);
    }
}

#from_up_above_vr {
    background-image: url(./images/mobile/image-from-above.jpg);
}

@media (min-width: 1200px) {
    #from_up_above_vr {
        background-image: url(./images/desktop/image-from-above.jpg);
    }
}

#pocket_borealis {
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
}

@media (min-width: 1200px) {
    #pocket_borealis {
        background-image: url(./images/desktop/image-pocket-borealis.jpg);
    }
}

#the_curiosity {
    background-image: url(./images/mobile/image-curiosity.jpg);
}

@media (min-width: 1200px) {
    #the_curiosity {
        background-image: url(./images/desktop/image-curiosity.jpg);
    }
}

#make_it_fisheye {
    background-image: url(./images/mobile/image-fisheye.jpg);
}

@media (min-width: 1200px) {
    #make_it_fisheye {
        background-image: url(./images/desktop/image-fisheye.jpg);
    }
}

footer {
    background-color: hsl(0, 0%, 0%);
    padding-top: 8vh;
    padding-bottom: 6vh;
}

@media (min-width: 1200px) {
    footer {
        padding-top: 4.5vh;
        padding-left: 12vw;
        padding-right: 12vw;
        padding-bottom: 4vh;
    }
}

footer p {
    margin-bottom: 0;
}

.footer_grid {
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
    .footer_grid {
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
    }
}

.logo_footer {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    order: 1;
    align-content: center;
}

@media (min-width: 1200px) {
    .logo_footer {
        width: 10vw;
        margin-left: 0;
        margin-bottom: 3vh;
    }
}

.social_links {
    border: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 40vw;
    order: 3;
}

@media (min-width: 1200px) {
    .social_links {
        flex-direction: row-reverse;
        justify-content: right;
        order: 2;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.social_link {
    border: solid;
    border-color: white;
    display: inline-block;
    width: 6vw;
    padding-bottom: 10px;
    background-repeat: no-repeat no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

@media (min-width: 1200px) {
    .social_link {
        width: 30px;
        margin-left: 15px;
    }
}

#social_facebook {
    order: 1;
}

@media(min-width: 1200px) {
    #social_facebook {
        order: 4;
    }
}

#social_twitter {
    order: 2;
}

@media(min-width: 1200px) {
    #social_twitter {
        margin-top: 4px;
        order: 3;
    }
}

#social_pinterest {
    order: 3;
}

@media(min-width: 1200px) {
    #social_pinterest {
        order: 2;
    }
}

#social_instagram {
    order: 4;
}

@media(min-width: 1200px) {
    #social_instagram {
        order: 1;
    }
}

.social_link:hover {
    display: inline-block;
    background-image: url("./images/bar.png");
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    order: 2;
}


@media(min-width: 1200px) {
    .footer_menu {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        order: 3;
    }
}

.footer_link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    font-size: 3.5vw;
}

@media(min-width: 1200px) {
    .footer_link {
        margin-left: 0;
        margin-right: 2vw;
        margin-bottom: 0;
        font-size: 15px;
    }
}

.footer_link:hover {
    background-image: url("./images/bar.png");
    background-repeat: no-repeat no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.footer_rights {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    color: hsl(0, 0%, 55%);
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    order: 4;
}

@media(min-width: 1200px) {
    .footer_rights {
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 0;
        font-size: 15px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}